# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: zwina <zwina@student.1337.ma>              +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2023/01/19 10:26:44 by zwina             #+#    #+#              #
#    Updated: 2023/01/19 10:29:46 by zwina            ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

.DS_Store
.vscode/
